/*カラーパレット*/
$palette-black: #000000;
$palette-white: #FFFFFF;
$palette-red: #E03131;

/*mixin*/
@mixin main-title {
    font-size: 72px;
    font-weight: bold;
    color: $palette-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

@mixin sub-title {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 17px;
    border-bottom: 6px solid $palette-red;
}

@mixin menu {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px dotted $palette-black;
}

@mixin price {
    text-align: right;
    padding-top: 10px;
    margin-left: 10px;
}


/*header*/
.header {
    background-image: url(img/mainvisual.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    padding: 20px 44px;
    margin-bottom: 20px;

    &__list {
        display: flex;
        justify-content: flex-end;
        color: $palette-white;
        font-weight: bold;
        text-shadow: 1px 1px 3px #121212;
    }

    &__item {
        font-size: 14px;
        margin-left: 27px;
        transition: 0.5s;
    }

    &__item:hover {
        color: $palette-red;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        }
}


/*menu*/

.menu {

    &__parallax {
        background-image: url(img/menu.jpg);
        position: relative;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 2;
        height: 300px;
        position: relative;
    }

    &__title {
        @include main-title;
    }

    &__content {
        display: flex;
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        padding: 96px 16px 150px;

    }
}

.coffee {
    width: 50%;
    border-right: 1px solid #000;

    &__title {
        @include sub-title;
        margin-bottom: 74px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap
    }

    &__item {
        @include menu;
        width: 80%;
        margin-bottom: 30px;
    }

    &__price {
        @include price;
    }
}

.side-menu {
    width: 50%;
    padding-left: 45px;
}

.food {
    margin-bottom: 66px;

    &__title {
        @include sub-title;
        margin-bottom: 74px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap
    }


    &__item {
        @include menu;
        width: 80%;
        margin-bottom: 30px;
    }

    &__price {
        @include price;
    }
}

.other {
    &__title {
        @include sub-title;
        margin-bottom: 74px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap
    }


    &__item {
        @include menu;
        width: 80%;
        margin-bottom: 30px;
    }

    &__price {
        @include price;
    }

}