/*カラーパレット*/
$palette-black: #000000;
$palette-white: #FFFFFF;
$palette-red: #E03131;

/*mixin*/

@mixin parallax {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    height: 300px;

}

@mixin content {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px 150px;
}

@mixin main-title {
    font-size: 72px;
    font-weight: bold;
    color: $palette-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 1px 1px 20px $palette-white;
}

@mixin sub-title {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 17px;
    margin-bottom: 74px;
    border-bottom: 6px solid $palette-red;
}

@mixin menu {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px dotted $palette-black;
}


/*header*/
.header {
    background-image: url(img/mainvisual.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    padding: 20px 44px;
    margin-bottom: 20px;

    &__list {
        display: flex;
        justify-content: flex-end;
        color: $palette-white;
        font-weight: bold;
        text-shadow: 1px 1px 3px #121212;
    }

    &__item {
        font-size: 16px;
        margin-left: 27px;
        transition: 0.5s;
    }

    &__item:hover {
        color: $palette-red;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        }

    &__img {
        max-width: 100%;
    }
}


/*menu*/

.menu {

    &__parallax {
        background-image: url(img/menu.jpg);
        @include parallax;
        margin-bottom: 96px;
    }

    &__title {
        @include main-title;
    }

    &__content {
        @include content;
        display: flex;
    }
}

.coffee {
    width: 50%;
    padding: 0 45px;
    border-right: 1px solid #000;

    &__title {
        @include sub-title;
    }

    &__list {
        display: flex;
        flex-wrap: wrap
    }

    &__item {
        @include menu;
        width: 80%;
        margin-bottom: 30px;
    }

    &__price {
        text-align: right;
        padding-top: 10px;
        width: 20%;
    }
}

.side-menu {
    width: 50%;
    padding: 0 45px;
}

.food {
    margin-bottom: 66px;

    &__title {
        @include sub-title;
    }

    &__list {
        display: flex;
        flex-wrap: wrap
    }


    &__item {
        @include menu;
        width: 80%;
        margin-bottom: 30px;
    }

    &__price {
        text-align: right;
        padding-top: 10px;
        width: 20%;
    }
}

.other {
    &__title {
        @include sub-title;
    }

    &__list {
        display: flex;
        flex-wrap: wrap
    }


    &__item {
        @include menu;
        width: 80%;
        margin-bottom: 30px;
    }

    &__price {
        text-align: right;
        padding-top: 10px;
        width: 20%;
    }

}


/*about*/

.about {

    &__parallax {
        background-image: url(img/about.jpg);
        @include parallax;
        margin-bottom: 96px;
    }

    &__title {
        @include main-title;
    }

    &__content {
        @include content;
    }

    &__sub-title {
        @include sub-title;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 45%;
        text-align: justify;
        line-height: 28px;
        margin-bottom: 46px;
    }

}


/*location*/

.location {
    &__parallax {
        background-image: url(img/location.jpg);
        @include parallax;
        margin-bottom: 96px;
    }

    &__title {
        @include main-title;
    }

    &__content {
        @include content;

    }

    &__sub-title {
        @include sub-title;
    }

    &__map {
        position: relative;/*子要素のlocation__imgの位置を指定する際の基準*/
        padding-top: 41.3223%;/*親要素gmapの高さ。w:968px×h:400pxのアスペクト比が121:50*/
        width: 100%;
        margin-bottom: 22px;
        filter: grayscale(100%);
    }

    &__img {
        position: absolute;
        top: 0;/*位置の基準を左上に*/
        left: 0;/*位置の基準を左上に*/
        width: 100%;
        height: 100%;
    }

    &__info {
        text-align: left;
    }

    &__access {
        line-height: 24px;
        margin-bottom: 15px;
    }

    &__hours {
        line-height: 24px;
        margin-bottom: 15px;
    }


}


/*footer*/

.footer{
    padding: 43px 0 12px;
    text-align: center;
}


/*@media*/

$media-tablet: 960px;
$media-sp: 768px;

@mixin parallax-sp {
    background-attachment: scroll;
    height: 94px;
    }

@mixin main-title-sp {
    font-size: 32px;
}

@mixin sub-title-sp {
    font-size: 20px;
    margin-bottom: 34px;

}


@media screen and (max-width: $media-tablet) {

    .menu__content {
        flex-flow: column;
    }

    .coffee {
        width: 100%;
        padding: 0;
        margin-bottom: 41px;
        border-right: none;

    }

    .side-menu {
        width: 100%;
        padding: 0;
    }

    .food {
        margin-bottom: 41px;
    }

    .about {
        &__list {
            flex-flow: column;
        }

        &__item {
            width: 100%;
            margin-bottom: 20px;}

    }

}

@media screen and (max-width: $media-sp) {
    .header {
        background-position: 75% 40%;
        height: 100vh;

        &__list {
            justify-content: center;
        }

        &__item {
            font-size: 14px;
            margin: 0 auto
        }
    }

    .menu {
        &__parallax {
            @include parallax-sp;
            margin-bottom: 33px;
        }

        &__title {
            @include main-title-sp;
        }

        &__sub-title {
            @include sub-title-sp;
        }

        .coffee {
            &__title {
                @include sub-title-sp;
            }
        }

        .other {
            &__title {
                @include sub-title-sp;
            }
        }

        .food {
            &__title {
                @include sub-title-sp();
            }
        }
    }

    .about {
        &__parallax {
            @include parallax-sp;
            margin-bottom: 33px;
        }

        &__title {
            @include main-title-sp;
        }

        &__sub-title {
            @include sub-title-sp;
        }
    }

    .location {
        &__parallax {
            @include parallax-sp;
            margin-bottom: 33px;
        }

        &__title {
            @include main-title-sp;
        }

        &__sub-title {
            @include sub-title-sp;
        }
    }

}