/*カラーパレット*/
$palette-black: #000000;
$palette-white: #FFFFFF;
$palette-red: #E03131;


.header {
    background-image: url(img/mainvisual.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    padding: 20px 44px;

    &__list {
        display: flex;
        justify-content: flex-end;
        color: $palette-white;
        font-weight: bold;
        text-shadow: 1px 1px 3px #121212;
    }

    &__item {
        font-size: 14px;
        margin-left: 27px;
        transition: 0.5s;
    }

    &__item:hover {
        color: $palette-red;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        }
}